<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pydnmr</title>
</head>
<body>
<h1>pydnmr</h1>
<div id="model-selection">
  <input type="radio" id="two-singlets" name="model-button"
         value="two-singlets">
  <label for="two-singlets">two uncoupled spins</label>
  <input type="radio" id="AB" name="model-button"
         value="AB">
  <label for="AB">two coupled spins</label>
</div>
<div id="plot-area">
  <p></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
<script src="static/js/pydnmr.js"></script>
{#<script type=text/javascript#}
{#        src="{{ url_for('static', filename='js/pydnmr.js') }}">#}
{#        </script>#}
{#<script>#}
{#  console.log('html script launched');#}
{#  modelSelect = d3.selectAll("#model-selection input");#}
{#  modelSelect.on("change", function() {#}
{#    var modelName = d3.select(this).property("value");#}
{#    console.log('model name ' + modelName + ' selected');#}
{#    alert('html hashout');#}
{#   });#}
{#</script>#}
</body>
</html>