<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pydnmr</title>

  <!-- style below adapted from:
   http://bl.ocks.org/crayzeewulf/9719255 -->
  <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
<h1>pydnmr</h1>
<!-- MENU BAR -->
<div id="model-selection">
  <input type="radio" id="two-singlets" name="model-button"
         value="two-singlets">
  <label for="two-singlets">two uncoupled spins</label>
  <input type="radio" id="AB" name="model-button"
         value="AB">
  <label for="AB">two coupled spins</label>
</div>
<div id="variable-entry"></div>

<!-- d3 PLOT -->
<div id="plot-area"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
<script src="static/js/socket.io.min.js"></script>
<script src="static/js/pydnmr_init.js"></script>
<script src="static/js/pydnmr_menu.js"></script>

</body>
</html>